/* General styles */

body {
  font-family: "BM Swiss Coffee", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0e68c; /* Alabaster */
  color: #000000; /* Black */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "BM Swiss Coffee", sans-serif;
  font-weight: bold;
  color: #333333; /* Coffee */
}

p {
  margin-bottom: 10px;
  color: #000000; /* Black */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  color: #000000; /* Black */
}

a {
  color: #795548; /* Eggplant */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #b9845d; /* Darker eggplant */
}

/* Header styles */

header {
  background-color: #624428; /* Atmospheric 6505 */
  color: #333333; /* Coffee */
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #f0e68c; /* Alabaster */
}

/* Main styles */

main {
  display: flex;
  justify-content: space-between; /* Equal spacing between the left and right sides */
}

.left-side {
  width: 25%;
  background-color: #000000; /* Black */
  padding: 20px;
  color: #f0e68c; /* Alabaster */
  text-align: justify; /* Justify the text to fill the width of the container */
}

.right-side {
  width: 75%;
  background-color: #f0e68c; /* Alabaster */
  padding: 20px;
  color: #000000; /* Black */
  text-align: left; /* Left-align the text within the container */
}

/* Content styles */

section {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  color: #000000; /* Black */
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333; /* Coffee */
}

h2 + p {
  margin-top: 0; /* Remove the default margin between headings and paragraphs */
}
